@charset "utf-8";

/* clearfix
----------------------------------------------------*/
.clearfix{
    zoom:1;/*for IE 5.5-7*/
}

.clearfix:after{/*for modern browser*/
    content:".";
    display: block;
    height:0px;
    clear:both;
    visibility:hidden;
}

* html .clearfix{
	display:inline-table;
	/*\*/display:block;/**/
}

/* layout
----------------------------------------------------*/
.clear{
	display				: block;
	clear				: both;
}
.printNext{
	page-break-after	: always;
}

.alignC {
	text-align			: center !important;
}
.alignL {
	text-align			: left !important;
}
.alignR {
	text-align			: right !important;
}
.vAlignT {
	vertical-align		: top !important;
}
.vAlignM {
	vertical-align		: middle !important;
}
.vAlignB {
	vertical-align		: bottom !important;
}
.floatC {
	float				: center !important;
}
.floatL {
	float				: left !important;
}
.floatR {
	float				: right !important;
}

/* images
----------------------------------------------------*/
.imgBaseR {
	float				: right;
	margin-left			: 15px;
	margin-bottom		: 5px;
}
.imgBaseL {
	float				: left;
	margin-right		: 15px;
	margin-bottom		: 5px;
}

.imgBoxGray{
	border				: 1px solid #ccc;
	padding				: 5px;
}


/* color
----------------------------------------------------*/
.cPureRed{
	color				: #f00 !important;
}
.cRed{
	color				: #c00 !important;
}
.cPink{
	color				: #e1437a !important;
}
.cLightPink{
	color				: #ed565a !important;
}
.cLightRed{
	color				: #c30 !important;
}
.cChicPink{
	color				: #e8719b !important;
}
.cGray{
	color				: #ccc !important;
}
.cBlack{
	color				: #333 !important;
}
.cOrange {
	color				: #f60 !important;
}
.cLightGreen {
	color				: #53c3a1;
}
.c333 {
	color				: #333 !important;
}
.c555 {
	color				: #555 !important;
}
.c666{
	color				: #666 !important;
}
.c999 {
	color				: #999 !important;
}

/* backgroundColor
----------------------------------------------------*/
.bkgColorWhite {
	background-color	: #fff !important;
}

.noneInputBorder input{
	border				: none;
}

.noneBorder{
	border				: none !important;
	padding				: 0px;
}

/* lineHeight
----------------------------------------------------*/
.lineH100{
	line-height			: 100%;
}
.lineH110{
	line-height			: 110%;
}
.lineH120{
	line-height			: 120%;
}
.lineH130{
	line-height			: 130%;
}
.lineH140{
	line-height			: 140%;
}
.lineH150{
	line-height			: 150%;
}
.lineH160{
	line-height			: 160%;
}
.lineH170{
	line-height			: 170%;
}
.lineH180{
	line-height			: 180%;
}
.lineH190{
	line-height			: 190%;
}
.lineH200{
	line-height			: 200%;
}


/* margineClear
----------------------------------------------------*/
.marCL {margin-left		: 0px !important;}
.marCR {margin-right	: 0px !important;}
.marCT {margin-top		: 0px !important;}
.marCB {margin-bottom	: 0px !important;}
.marCP {
	margin-left			: 0px !important;
	margin-right		: 0px !important;
}
.marCV {
	margin-top			: 0px !important;
	margin-bottom		: 0px !important;
}


/* paddingClear
----------------------------------------------------*/
.padCA {
	padding				: 0px !important;
}

/* display
----------------------------------------------------*/
.dispNone{
	display				: none;
}
.dispBlock{
	display				: block;
}
.dispInline{
	display				: inline;
}

/* font
----------------------------------------------------*/

.fontWeightB {
	font-weight		: bold;
}
.fontWeightN{
	font-weight		: normal;
}

/* margin
----------------------------------------------------*/

.marL5 {margin-left: 5px !important;}
.marL10{margin-left: 10px !important;}
.marL15{margin-left: 15px !important;}
.marL20{margin-left: 20px !important;}
.marL25{margin-left: 25px !important;}
.marL30{margin-left: 30px !important;}
.marL35{margin-left: 35px !important;}
.marL40{margin-left: 40px !important;}
.marL45{margin-left: 45px !important;}
.marL50{margin-left: 50px !important;}
.marL55{margin-left: 55px !important;}
.marL60{margin-left: 60px !important;}

/* margin-right */

.marR5 {margin-right: 5px !important;}
.marR10{margin-right: 10px !important;}
.marR15{margin-right: 15px !important;}
.marR20{margin-right: 20px !important;}
.marR25{margin-right: 25px !important;}
.marR30{margin-right: 30px !important;}
.marR35{margin-right: 35px !important;}
.marR40{margin-right: 40px !important;}
.marR45{margin-right: 45px !important;}
.marR50{margin-right: 50px !important;}

/* margin-top */

.marT1 {margin-top: 1px !important;}
.marT2 {margin-top: 2px !important;}
.marT3 {margin-top: 3px !important;}
.marT4 {margin-top: 4px !important;}
.marT5 {margin-top: 5px !important;}
.marT10{margin-top: 10px !important;}
.marT15{margin-top: 15px !important;}
.marT20{margin-top: 20px !important;}
.marT25{margin-top: 25px !important;}
.marT30{margin-top: 30px !important;}
.marT35{margin-top: 35px !important;}
.marT40{margin-top: 40px !important;}
.marT45{margin-top: 45px !important;}
.marT50{margin-top: 50px !important;}
.marT60{margin-top: 60px !important;}

/* margin-bottom */

.marB1 {margin-bottom: 1px !important;}
.marB2 {margin-bottom: 2px !important;}
.marB3 {margin-bottom: 3px !important;}
.marB4 {margin-bottom: 4px !important;}
.marB5 {margin-bottom: 5px !important;}
.marB6 {margin-bottom: 6px !important;}
.marB7 {margin-bottom: 7px !important;}
.marB8 {margin-bottom: 8px !important;}
.marB9 {margin-bottom: 9px !important;}
.marB10{margin-bottom: 10px !important;}
.marB15{margin-bottom: 15px !important;}
.marB20{margin-bottom: 20px !important;}
.marB25{margin-bottom: 25px !important;}
.marB30{margin-bottom: 30px !important;}
.marB35{margin-bottom: 35px !important;}
.marB40{margin-bottom: 40px !important;}
.marB45{margin-bottom: 45px !important;}
.marB50{margin-bottom: 50px !important;}
.marB60{margin-bottom: 60px !important;}
.marB200{margin-bottom: 200px !important;}


/* padding
----------------------------------------------------*/

.padL5 {padding-left: 5px !important;}
.padL10{padding-left: 10px !important;}
.padL15{padding-left: 15px !important;}
.padL20{padding-left: 20px !important;}
.padL25{padding-left: 25px !important;}
.padL30{padding-left: 30px !important;}
.padL35{padding-left: 35px !important;}
.padL40{padding-left: 40px !important;}
.padL45{padding-left: 45px !important;}
.padL50{padding-left: 50px !important;}
.padL70{padding-left: 70px !important;}

/* padding-right */

.padR5{padding-right: 5px !important;}
.padR10{padding-right: 10px !important;}
.padR15{padding-right: 15px !important;}
.padR20{padding-right: 20px !important;}
.padR25{padding-right: 25px !important;}
.padR30{padding-right: 30px !important;}
.padR35{padding-right: 35px !important;}
.padR40{padding-right: 40px !important;}
.padR45{padding-right: 45px !important;}
.padR50{padding-right: 50px !important;}

/* padding-top */
.padT1 {padding-top: 1px !important;}
.padT2 {padding-top: 2px !important;}
.padT3 {padding-top: 3px !important;}
.padT4 {padding-top: 4px !important;}
.padT5 {padding-top: 5px !important;}
.padT10{padding-top: 10px !important;}
.padT15{padding-top: 15px !important;}
.padT20{padding-top: 20px !important;}
.padT25{padding-top: 25px !important;}
.padT30{padding-top: 30px !important;}
.padT35{padding-top: 35px !important;}
.padT40{padding-top: 40px !important;}
.padT45{padding-top: 45px !important;}
.padT50{padding-top: 50px !important;}

/* padding-bottom */

.padB1 {padding-bottom: 1px !important;}
.padB2 {padding-bottom: 2px !important;}
.padB3 {padding-bottom: 3px !important;}
.padB4 {padding-bottom: 4px !important;}
.padB5 {padding-bottom: 5px !important;}
.padB10{padding-bottom: 10px !important;}
.padB15{padding-bottom: 15px !important;}
.padB20{padding-bottom: 20px !important;}
.padB25{padding-bottom: 25px !important;}
.padB30{padding-bottom: 30px !important;}
.padB35{padding-bottom: 35px !important;}
.padB40{padding-bottom: 40px !important;}
.padB45{padding-bottom: 45px !important;}
.padB50{padding-bottom: 50px !important;}

